langchain
langchain-openai
langchain-anthropic
python-dotenv
fastapi
pandas
SQLAlchemy
psycopg2-binary
langchain[openai]
langfuse
langfuse-langchain
langchain-core
python-jose
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
streamlit
requests
email-validator
supabase