.block-container{
    padding-top:2rem;
}

.stChatMessage{
    border-radius:12px;
    padding:12px;
}

section[data-testid="stSidebar"]{
    background:#020202;
}

h1{
    color:#2563eb;
}

/* //streamlit run streamlit_app.py */